
/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Righteous&display=swap");

* {
    
}

body {
    /*background-color: rebeccapurple;*/
    font-family: Roboto, sans-serif;
    font-weight: normal;
    background-color: rebeccapurple;
    padding: 0;
    margin: 0;
    overflow: hidden;
}


.master {
    display: flex;
    flex-direction: row;
    height: 100vh;
}



.left-side {
    width: 33%;
    height: 100%;
    border: 1px solid blue;
    background-color: lightblue;
    display: flex;
    flex-direction: column;

}

.main-content {
    width: 66%;
    height: 100vh;
    border: 1px solid red;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.menu-item > h3 {
    padding-left: 10px;
}
.menu-item > h4 {
    padding-left: 10px;
}

.menu-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}
.add-task.menu-item {
    padding-left: 15px;
}

.add-task-btn-class {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
    cursor: pointer;
}


.dashboard button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    padding: 8px;
    border-radius: 50%;
    color: #fff;
    font-size: 1.1rem;
    background: rgbs(255, 194, 209, 0.3);
    border: 2px solid (255, 255, 255, 0.18);
    cursor: pointer;
    transition: all 0.2s ease;
}
.dashboard button:hover {
    transform: scale(1.1);
    background: blue;
}

.user-area {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.user-icon-class {
    padding-left: 20px;
    padding-top: 10px;
}
#user-icon-id {
    border-radius: 50%;
}

.user-drop-down-class {
    padding-left: 20px;
    padding-right: 30px;
    width: 250px;
    height: 30px;
}


.dashboard {
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.dashboard > img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    padding-top: 10px;
}


.my-projects-area {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.user-projects-icon-class {
    padding-left: 15px;
}

/* content area - main / index etc
//
*/

.index-mainHdr-text {
    color: red;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 20px;
}

.todo-app {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
    border: 3px solid rgba(255,255,255, 0.18);
    backdrop-filter: blur(10px);
}
.todo-app h1 {
    font-size: 2rem;
}

.stat-container {
    padding: 15px 20px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.18);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}
.details {
    width: 100%;
}
.details h3 {
    color: #fff;
}
#progressbar {
    width: 100%;
    height: 7px;
    background: rgba(255, 194, 209, 0.3);
    border-radius: 20px;
    position: relative;
    margin-top: 15px;
}
#progress {
    width: 50%;
    height: 100%;
    background: #ff6f91;
    border-radius: 20px;
    transition: width 0.3s ease;
}
#numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background: #ff6f91;
    border: 2px solid rgba(255, 194, 209, 0.3);
    font-weight: bold;
    border-radius: 50%;
    font-size: 1.5rem;
}

.input-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.input-area input {
    flex: 1;
    padding: 10px 17px;
    font-size: 1.1rem;
    border: none;
    outline: none;
    border-radius: 22px;
    background: (255, 194, 209, 0.3);
    color: #dbdbdb;
}

.input-area input::placeholder {
    color: #bcbcbc;
}

.input-area button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    padding: 8px;
    border-radius: 50%;
    color: #fff;
    font-size: 1.1rem;
    background: rgbs(255, 194, 209, 0.3);
    border: 2px solid (255, 255, 255, 0.18);
    cursor: pointer;
    transition: all 0.2s ease;
}
.input-area button:hover {
    transform: scale(1.1);
    background: #ff6f91;
}



.todos-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#task-list {
    width: 100%;
}
#task-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: (255, 194, 209, 0.3);
    margin-bottom: 10px;
    padding: 8px 10px;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #fff;
    position: relative;
    transition: box-shadow 0.2s ease;
}

#task-list li:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#task-list li .checkbox {
    min-width: 20px;
    height: 20px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    background: transparent;
    border-radius: 50%;
    appearance: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

#task-list li .checkbox:checked {
    background: #ff6f91;
    transform: scale(1.1);
}

#task-list li .checkbox:checked::before {
    content: '\2713';
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
#task-list li span {
    flex: 1;
    margin-left: 10px;
    word-wrap: break-word;
}

.task-buttons {
    display: flex;
    gap: 10px;
    margin-right: auto;
}

.task-buttons button {
    background: rgba(255, 194, 209, 0.3);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.task-buttons button:hover {
    transform: scale(1.2);
}
.task-buttons .edit-btn {
    background: #ffbf00;
}
.task-buttons .delete-btn {
    background: #ff6f91;
}

#task-list li.completed span {
    text-decoration: 2px line-through #000;
    color: #000;
}


.icon-white-to-black {
  filter: invert(100%)
}

/*
//Testing page css...
//
*/
.test-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 20px;

}

.task-area {
    display: grid;
    /*Defines a responsive column layout that auto fits as many 
    columns as possible, each between 200 px and 1 fr wide */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px; /*space between cards*/
    padding: 5px;
}

.test-task-card {
    background-color: lightseagreen;
    border: 1px solid coral;
    padding: 5px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.task {
    position: relative;
    z-index: 0;
}

.card {
    border-left: 10px solid rgb(200, 1, 1) !important;
    max-width: 300px;
    background-color: rgba(34, 211, 238, 0.3) !important;
}

/*.test-card {
    display: flex;
    background-color: lightblue;
    border: 2px solid red;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
    height: 100px;
    padding: 0 5px;
} */